{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
{{ flatpage.content }}
    
    <hr>
    <h3 style="text-align: center;">Ну и с <span style="text-decoration: underline;">кем</span> ты <strong>собрался</strong> <em>контактировать</em>?<img style="display: block; margin-left: auto; margin-right: auto;" src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" width="475" height="475" /></h3>
{% endblock content %}
